<?xml version="1.0"?>
<robot name="snake_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    

    <xacro:include filename="$(find snake_robot_description)/urdf/snake_common_properties.xacro" /> 

    <xacro:include filename="$(find snake_robot_description)/urdf/snake_components.xacro" /> 

    <xacro:include filename="$(find snake_robot_description)/urdf/snake_camera.xacro" /> 

    <xacro:include filename="$(find snake_robot_description)/urdf/snake_components_gazebo.xacro" /> 
    
    <xacro:include filename="$(find snake_robot_description)/urdf/snake_ros2_control.xacro" /> 

</robot>
