<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="snake_robot"> 

    <gazebo reference="${base_link}">
        <material>Gazebo/Red</material>
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>

    <gazebo reference="${link1}">
        <material>Gazebo/Blue</material>
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>

    <gazebo reference="${link2}">
        <material>Gazebo/Red</material>
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>

    <gazebo reference="${link3}">
        <material>Gazebo/Blue</material> 
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>

    <gazebo reference="${link4}">
        <material>Gazebo/Red</material>
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>

    <gazebo reference="${link5}">
        <material>Gazebo/Blue</material>
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>

    <gazebo reference="${link6}">
        <material>Gazebo/Red</material>
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>

    <gazebo reference="${link7}">
        <material>Gazebo/Blue</material>
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>

    <gazebo reference="${link8}">
        <material>Gazebo/Red</material>
        <mu1>0.01</mu1>
        <mu2>0.05</mu2>   
    </gazebo>


    <!-- code for GAZEBO_ROS_CONTROL -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so" > 
            
            <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>

            <parameters>$(find snake_robot_description)/config/snake_controllers.yaml</parameters>
            
        </plugin>
    </gazebo>


</robot>